@{
    ViewBag.Title = "File Content Uploaded";
}

<ul>
    <li>
        <a href='fileprovider'>File content upload form</a>
    </li>
    <li>
        <a href="fileprovider/fileContent">File content</a>
    </li>
</ul>

<pre>@ViewBag.FileContent</pre>
