
@{
    ViewBag.Title = "File Content Upload";
}

<h1>FileContentUpload</h1>
<form action="fileprovider" method="post">
    <table>
        <tr>
            <td>File content: </td>
            <td><textarea name="fileContent" rows="20" cols="50">@ViewBag.FileContent</textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<a href="fileprovider/fileContent">File Content</a>
