.modalContent {
    display: flex;
    padding: 12px 0px 24px 0px;
}

.modalAction {
    padding-left: 24px;
    width: 275px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modalProgress {
    margin-top: 8px;
}