.modalContent {
    display: flex;
    padding: 12px 0px 24px 0px;
}

.modalLink {
    display: flex;
}

.modalAction {
    padding-left: 24px;
    width: 275px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modalProgress {
    margin-top: 8px;
}

#modalUpload .modalContent {
    height: 86px;
}

#modalUpload .buttonsContainer {
    display: flex;
    flex-flow: row-reverse;
}

#modalUpload .package {
    padding-top: 8px;
    padding-bottom: 8px;
}

.modalHeader {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.modalHeader button {
    background-color: transparent;
    height: calc(20px + (8px * 2));
    width: calc(20px + (8px * 2));
}