.parametersContainer {
    display: flex;
    flex-flow: column;
    width: 296px;
    background-color: white;
}

.parameters {
    overflow: auto;
    padding: 16px;
    flex: auto;
}

.pencilContainer {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.parametersSeparator {
    margin-top: 8px;
    margin-bottom: 0px;
    width: calc(100% - 16px);
}

.parameter {
    padding-bottom: 16px;
    font-size: 12px;
    font-family: ArtifaktElement, sans-serif;
    font-weight: 300;
    color:#3c3c3c;
    line-height: 18px;
}

.parameter.checkbox {
    padding-bottom: 32px;
    height: 20px;
    display: flex;
    flex-flow: row;
}

.parameter.checkboxtext {
    padding-left: 12px;
    font-size: 14px;
    line-height: 16px;
}

.buttonsContainer.hidden {
    display: none;
}

.buttonsContainer {
    display: flex;
    padding: 16px;
}

div.changedOnUpdate,
div.changedOnUpdate-input-wrapper {
    border-bottom-color: red;
}

.checkbox .changedOnUpdate {
    border-bottom: solid 1px red;
    height: 17px;
}
