.inRow {
    display: flex;
    flex-direction: row;
}

.parametersContainer {
    width: 400px;
    height: 100%;
    padding: 16px;
    background-color: white;
}

.parameter {
    padding-bottom: 16px;
}