#uploadPackageModal .fileBrowseContainer {
    display: flex;
}

#uploadPackageModal .buttonsContainer {
    display: flex;
    flex-flow: row-reverse;
}

#uploadPackageModal .buttonsContainer button {
    width: 102px;
}